<%- include ('../layouts/admin/adminHeader.ejs') %>
  <%- include ('../layouts/admin/adminSidebar.ejs') %>
    <%- include ('../layouts/admin/adminNav.ejs') %>

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <form action="" method=""></form>
          <a class="btn btn-primary" href="/admin/loadAddProduct">Add Product</a>

          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> </h4>


          <div class="card">
            <h5 class="card-header">Product list</h5>
            <div class="table-responsive text-nowrap">
              <table class="table" id="productsTable">

                <thead>
                  <tr>
                    <th>SI NO</th>
                    <th>Name</th>
                    <th>category</th>
                    <th>Price</th>
                    <th>Rating</th>
                    <th>stock</th>
                    <th>Image</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(product.length >0) { %>
                    <% for(let i=0;i< product.length;i++) { %>

                      <tr>
                        <td>
                          <%= i+1 %>
                        </td>
                        <td>
                          <%= product[i].name %>
                        </td>
                        <td>
                          <%= product[i].category %>
                        </td>
                        <td>
                          <%= product[i].price %>
                        </td>
                        <td>
                          <%= product[i].rating %>
                        </td>
                        <td>
                          <%= product[i].quantity %>
                        </td>
                        <td>
                          <% if(product[i].image) { %>
                            <img src="/admin/multer/img/<%= product[i].image[0] %>" width="100vw" height="100vh">
                            <% }%>
                        </td>
                        <td>
                          <a class="btn btn-info" href="/admin/editProduct?id=<%= product[i]._id %> ">Edit</a>


                          <!-- <button class="btn  btn-outline-danger" data-toggle="modal" data-target="#exampleModalCenter"
                          onclick="del('<%- product[i]._id %>')">Delete</button>
                        <a id="<%- product[i]._id %>" style="text-decoration: none; color: #ffff; display: none;"
                          href="/admin/deleteProduct?id=<%= product[i]._id %> "></a> -->
 


                          <div class="dropdown">
                            <% if(product[i].isAvailable) { %>
                                <button class="btn  btn-outline-danger" data-toggle="modal"
                                    style="width: 90px;" data-target="#exampleModalCenter"
                                    onclick="del('<%- product[i]._id %>')">Block</button>
                                <a id="<%- product[i]._id %>"
                                    href="/admin/blockproduct?id=<%- product[i]._id %> "></a>

                                <% } else { %>
                                    <button class="btn  btn-outline-success"
                                        data-toggle="modal" style="width: 90px;"
                                        data-target="#exampleModalCenter"
                                        onclick="del('<%- product[i]._id %>')">Unblock</button>
                                    <a id="<%- product[i]._id %>"
                                        href="/admin/blockproduct?id=<%- product[i]._id %> "></a>

                                    <% } %>

                        </div>



                        </td>

                      </tr>
                      <% }} else { %>
                        <tr>
                          <td colspan="5">Products Not Found</td>
                        </tr>
                        <% } %>

                </tbody>
              </table>
            </div>
          </div>


          <!-- confirm box  -->
          <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirm Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure want to delete ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="save()">delete</button>
        </div>
      </div>
    </div>
  </div> -->
<!-- /confirm -->


<!-- category blocking -->

                    <!-- confirm box  -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Confirm Block</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure want to block ?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="save()">Block</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- /confirm -->




          <%- include ('../layouts/admin/adminFooter.ejs') %>