<%- include ('../layouts/user/header.ejs') %>
    <%- include ('../layouts/user/nav.ejs') %>

        <!-- Product -->
        <section class="bg0 p-t-23 p-b-140">
            <div class="container">
                <div class="p-b-10">
                    <h3 class="ltext-103 cl5  ">
                        Product Overview
                    </h3>
                </div>

                <div class="flex-w flex-sb-m p-b-52">
                    <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 " data-filter="all">
                            <!-- <a href="products">All Products</a> -->All Products
                        </button>

                        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="samsung">
                            <!-- <a href="products?category=samsung">samsung</a> -->samsung
                        </button>

                        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="iphone">
                            <!-- <a href="products?category=iphone">Iphone</a> -->iphone
                        </button>

                        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="one plus">
                            <!-- <a href="products?category=one plus">One Plus</a> -->One Plus
                        </button>

                        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="mi">
                            <!-- <a href="products?category=mi">MI</a> -->MI
                        </button>

                        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="vivo">
                            <!-- <a href="products?category=vivo">Vivo</a> -->Vivo
                        </button>
                        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="oppo">
                            <!-- <a href="products?category=oppo">Oppo</a> -->Oppo
                        </button>
                    </div>

                    <div class="flex-w flex-c-m m-tb-10">
                        <div
                            class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                            <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                            <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                            Filter
                        </div>

                        <div
                            class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                            <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                            <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                            Search
                        </div>
                    </div>

                    <!-- Search product -->
                    <div class="dis-none panel-search w-full p-t-10 p-b-15">
                        <form id="search-form">
                            <div class="bor8 dis-flex p-l-15">
                                <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                                <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" id="search-input"
                                    name="search" placeholder="Search">
                            </div>
                        </form>
                    </div>

                    <!-- Filter -->

                    <div class="dis-none panel-filter w-full p-t-10">
                        <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                            <div class="filter-col1 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Sort By
                                </div>

                                <ul>
                                    <li class="p-b-6">
                                        <div class="form-check ">
                                            <input class="form-check-input" type="radio" name="exampleRadios"
                                                id="exampleRadios1" value="option1" data-sort="Default" onclick="price(Default)">
                                            <label class="filter-link stext-106 trans-04" for="exampleRadios1">
                                                Default
                                            </label>
                                        </div>
                                    </li>

                                    

                                    <li class="p-b-6">
                                        
                                        <div class="form-check">
                                            <input class="form-check-input btnClick" type="radio" name="exampleRadios"
                                                id="exampleRadios2" value="option2" data-sort="LowToHigh">
                                            <label class="filter-link stext-106 trans-04" for="exampleRadios2">
                                                Low to High
                                            </label>
                                        </div>
                                    </li>

                                    <li class="p-b-6">
                                        <div class="form-check">
                                            <input class="form-check-input btnClick" type="radio" name="exampleRadios"
                                                id="exampleRadios3" value="option3"  data-sort="HighToLow">
                                            <label class="filter-link stext-106 trans-04" for="exampleRadios3">
                                                High to Low
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="filter-col2 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Price
                                </div>

                                <ul>
                                    <!-- <li class="p-b-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="priceRadios"
                                                id="priceRadios1" value="option1" onclick="price(0)">
                                            <label class="filter-link stext-106 trans-04" for="priceRadios1">
                                                All
                                            </label>
                                        </div>
                                    </li> -->

                                    <li class="p-b-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="priceRadios"
                                                id="priceRadios2" value="option2" onclick="price(1)">
                                            <label class="filter-link stext-106 trans-04" for="priceRadios2">
                                                ₹1000 - ₹10000
                                            </label>
                                        </div>
                                    </li>

                                    <li class="p-b-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="priceRadios"
                                                id="priceRadios3" value="option3" onclick="price(2)">
                                            <label class="filter-link stext-106 trans-04" for="priceRadios3">
                                                ₹10000 - ₹30000
                                            </label>
                                        </div>
                                    </li>

                                    <li class="p-b-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="priceRadios"
                                                id="priceRadios4" value="option4" onclick="price(3)">
                                            <label class="filter-link stext-106 trans-04" for="priceRadios4">
                                                ₹30000 - ₹50000
                                            </label>
                                        </div>
                                    </li>

                                    <li class="p-b-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="priceRadios"
                                                id="priceRadios5" value="option5" onclick="price(4)">
                                            <label class="filter-link stext-106 trans-04" for="priceRadios5">
                                                ₹50000 - ₹100000
                                            </label>
                                        </div>
                                    </li>

                                    <li class="p-b-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="priceRadios"
                                                id="priceRadios6" value="option6" onclick="price(5)">
                                            <label class="filter-link stext-106 trans-04" for="priceRadios6">
                                                $100000+
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="filter-col3 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Color
                                </div>

                                <ul>
                                    <li class="p-b-6">
                                        <input class="form-check-input" type="radio" name="colorRadios"
                                        id="colorRadios1" value="color1" onclick="color('Black')">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #222;">
                                            <i class="zmdi zmdi-circle"></i>
                                        </span>

                                        <label class="filter-link stext-106 trans-04" for="colorRadios1">
                                            Black
                                        </label>
                                    </li>

                                    <li class="p-b-6">
                                        <input class="form-check-input" type="radio" name="colorRadios"
                                        id="colorRadios2" value="color2" onclick="color('Blue')">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
                                            <i class="zmdi zmdi-circle"></i>
                                        </span>

                                        <label class="filter-link stext-106 trans-04" for="colorRadios2">
                                            Blue
                                    </label>
                                    </li>

                                    <li class="p-b-6">
                                        <input class="form-check-input" type="radio" name="colorRadios"
                                        id="colorRadios3" value="color3" onclick="color('Grey')">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
                                            <i class="zmdi zmdi-circle"></i>
                                        </span>

                                        <label class="filter-link stext-106 trans-04" for="colorRadios3">
                                            Grey
                                    </label>
                                    </li>

                                    <li class="p-b-6">
                                        <input class="form-check-input" type="radio" name="colorRadios"
                                        id="colorRadios4" value="color4" onclick="color('Green')">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
                                            <i class="zmdi zmdi-circle"></i>
                                        </span>

                                        <label class="filter-link stext-106 trans-04" for="colorRadios4">
                                            Green
                                    </label>
                                    </li>

                                    <li class="p-b-6">
                                        <input class="form-check-input" type="radio" name="colorRadios"
                                        id="colorRadios5" value="color5" onclick="color('Red')">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
                                            <i class="zmdi zmdi-circle"></i>
                                        </span>

                                        <label class="filter-link stext-106 trans-04" for="colorRadios5">
                                            Red
                                    </label>
                                    </li>

                                    <li class="p-b-6">
                                        <input class="form-check-input" type="radio" name="colorRadios"
                                        id="colorRadios6" value="color6" onclick="color('White')">
                                        <span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
                                            <i class="zmdi zmdi-circle-o"></i>
                                        </span>

                                        <label class="filter-link stext-106 trans-04" for="colorRadios6">
                                            White
                                    </label>
                                    </li>
                                </ul>
                            </div>

                            <!-- <div class="filter-col4 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    ram
                                </div>

                                <div class="flex-w p-t-4 m-r--5">
                                    <a href="#"
                                        class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        4
                                    </a>

                                    <a href="#"
                                        class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        6
                                    </a>

                                    <a href="#"
                                        class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        8
                                    </a>

                                    <a href="#"
                                        class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        12
                                    </a>
                                </div>


                                <div class="mtext-102 cl2 p-b-15">
                                    storage
                                </div>

                                <div class="flex-w p-t-4 m-r--5">
                                    <a href="#"
                                        class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        4
                                    </a>

                                    <a href="#"
                                        class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        6
                                    </a>

                                    <a href="#"
                                        class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        8
                                    </a>

                                    <a href="#"
                                        class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        12
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>




                <div id="products-container" class="row isotope-grid">
                    <% if(Products) { %>
                        <% for(let i=0;i< Products.length;i++){ %>
                            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women ">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0">
                                        <!-- <img src="<%= Products[i].images %>" alt="IMG-PRODUCT"> -->
                                        <% if(Products[i].image) { %>
                                            <img src="/admin/multer/img/<%= Products[i].image[0] %>" height="250">
                                            <% }%>
                                                <a href="productDetails?id=<%=Products[i].id %>"
                                                    class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                                    Quick View
                                                </a>
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="block2-txt-child1 flex-col-l ">
                                            <a href="productDetails?id=<%=Products[i].id %>"
                                                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                <%= Products[i].name %>
                                            </a>

                                            <span class="stext-105 cl3">
                                                $<%= Products[i].price %>
                                            </span>
                                        </div>

                                        <div class="block2-txt-child2 flex-r p-t-3">
                                            <a href="/addtowishlist?id=<%=Products[i]._id %>"
                                                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                                <img class="icon-heart1 dis-block trans-04"
                                                    src="images/icons/icon-heart-01.png" alt="ICON">
                                                <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                                    src="images/icons/icon-heart-02.png" alt="ICON">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <!-- Load more -->

                            <%}} else {%>
                                <div class="flex-c-m flex-w w-full p-t-45">
                                    <span>No Products</span>
                                </div>
                                <% } %>
                </div>
                <div class="flex-c-m flex-w w-full p-t-45">
                    <!-- <a href="#"
                                                class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                                                Load More
                                            </a> -->

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="/products?page=0">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="/products?page=1">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="/products?page=2">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>


        </section>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>
            var $filter = $('.filter-tope-group');
            $filter.on('click', 'button', function () {
                var filterValue = $(this).attr('data-filter');
                console.log("filterValue=" + filterValue);

                $.get('/products?catagory', { catagory: filterValue }, function (data) {
                    // Update the products container with the filtered results
                    var productsHtml = '';
                    if (data.length > 0) {
                        console.log(data);
                        productsHtml = data.map(product => `
       
                        <div  class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women ">
                           <div class="block2">
                                    <div class="block2-pic hov-img0">
                                         
                                           
                                                <a href="productDetails?id=${product._id}"
                                                    class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                                    Quick View
                                                </a>
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="block2-txt-child1 flex-col-l ">
                                            <a href="productDetails?id=${product._id}"
                                                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                ${product.name}
                                            </a>

                                            <span class="stext-105 cl3">
                                                $ ${product.price}
                                            </span>
                                        </div>

                                        <div class="block2-txt-child2 flex-r p-t-3">
                                            <a href="/addtowishlist?id=${product._id}"
                                                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                                <img class="icon-heart1 dis-block trans-04"
                                                    src="images/icons/icon-heart-01.png" alt="ICON">
                                                <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                                    src="images/icons/icon-heart-02.png" alt="ICON">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

        `).join('');
                    } else {
                        productsHtml = '<p>No items found </p>';
                    }

                    $('#products-container').html(productsHtml);
                });
            });


            //surch
            $('#search-form').keyup(function () {
                var search = $('#search-form input[name="search"]').val();
                console.log("search=" + search);


                $.post('/products/search', { search: search }, function (data) {
                    // Update the products container with the filtered results
                    var productsHtml = '';
                    if (data.length > 0) {
                        console.log(data);
                        productsHtml = data.map(product => `
       
                        <div  class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women ">
                           <div class="block2">
                                    <div class="block2-pic hov-img0">
                                            <img src="/admin/multer/img/${product.image[0]}" height="250">
                                           
                                                <a href="productDetails?id=${product._id}"
                                                    class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                                    Quick View
                                                </a>
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="block2-txt-child1 flex-col-l ">
                                            <a href="productDetails?id=${product._id}"
                                                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                ${product.name}
                                            </a>

                                            <span class="stext-105 cl3">
                                                $ ${product.price}
                                            </span>
                                        </div>

                                        <div class="block2-txt-child2 flex-r p-t-3">
                                            <a href="/addtowishlist?id=${product._id}"
                                                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                                <img class="icon-heart1 dis-block trans-04"
                                                    src="images/icons/icon-heart-01.png" alt="ICON">
                                                <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                                    src="images/icons/icon-heart-02.png" alt="ICON">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

        `).join('');
                    } else {
                        productsHtml = '<p>No items found </p>';
                    }

                    $('#products-container').html(productsHtml);
                });
            });


        //sorting
            $('.btnClick').click(function (e) {
                e.preventDefault();
                const sort = $(this).data('sort');
                console.log("kjn=" + sort);


                $.get('/priceSorting?sort', { sort: sort }, function (data) {
                    // Update the products container with the filtered results
                    var productsHtml = '';
                    if (data.length > 0) {
                        console.log(data);
                        productsHtml = data.map(product => `
       
                        <div  class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women ">
                           <div class="block2">
                                    <div class="block2-pic hov-img0">
                                            <img src="/admin/multer/img/${product.image[0]}" height="250">
                                           
                                                <a href="productDetails?id=${product._id}"
                                                    class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                                    Quick View
                                                </a>
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="block2-txt-child1 flex-col-l ">
                                            <a href="productDetails?id=${product._id}"
                                                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                ${product.name}
                                            </a>

                                            <span class="stext-105 cl3">
                                                $ ${product.price}
                                            </span>
                                        </div>

                                        <div class="block2-txt-child2 flex-r p-t-3">
                                            <a href="/addtowishlist?id=${product._id}"
                                                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                                <img class="icon-heart1 dis-block trans-04"
                                                    src="images/icons/icon-heart-01.png" alt="ICON">
                                                <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                                    src="images/icons/icon-heart-02.png" alt="ICON">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

        `).join('');
                    } else {
                        productsHtml = '<p>No items found </p>';
                    }

                    $('#products-container').html(productsHtml);
                });
            });

//                 $.ajax({
//                     url: `/sort-decending`,
//                     method: 'GET',
//                     success: function (data) {
//                         console.log('Response data:', data); // Add this line to log the data variable
//                         const products = data;
//                         const productsHtml = products.map(product => `
//     <div class="col-lg-4 mb-4 text-center">
//       <div class="product-entry border">
//         <a href="/productdetails/${product._id}" class="prod-img">
//           <img src="/products/${product.images[0]}" class="img-fluid" alt="Free html5 bootstrap 4 template">
//         </a>
//         <div class="desc">
//           <h2><a href="#">${product.name}</a></h2>
//           <span class="price">${product.price}</span>
//         </div>
//       </div>
//     </div>
//   `).join('');

//                         $('#products-container').html(productsHtml);
//                     },


//                     error: function (xhr, status, error) {
//                         console.error('Error fetching products:', error);
//                     }
//                 });

            // });


//price Filltering
            function price(data){
                
                // e.preventDefault();
 

                $.get('/priceFiltering?data', { data: data }, function (data) {
                    // Update the products container with the filtered results
                    var productsHtml = '';
                    if (data.length > 0) {
                        console.log(data);
                        productsHtml = data.map(product => `
       
                        <div  class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women ">
                           <div class="block2">
                                    <div class="block2-pic hov-img0">
                                            <img src="/admin/multer/img/${product.image[0]}" height="250">
                                           
                                                <a href="productDetails?id=${product._id}"
                                                    class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                                    Quick View
                                                </a>
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="block2-txt-child1 flex-col-l ">
                                            <a href="productDetails?id=${product._id}"
                                                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                ${product.name}
                                            </a>

                                            <span class="stext-105 cl3">
                                                $ ${product.price}
                                            </span>
                                        </div>

                                        <div class="block2-txt-child2 flex-r p-t-3">
                                            <a href="/addtowishlist?id=${product._id}"
                                                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                                <img class="icon-heart1 dis-block trans-04"
                                                    src="images/icons/icon-heart-01.png" alt="ICON">
                                                <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                                    src="images/icons/icon-heart-02.png" alt="ICON">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

        `).join('');
                    } else {
                        productsHtml = '<p>No items found </p>';
                    }

                    $('#products-container').html(productsHtml);
                });
            }


//color Filtering
            function color(data){
                
                // e.preventDefault();
 

                $.get('/colorFiltering?data', { data: data }, function (data) {
                    // Update the products container with the filtered results
                    var productsHtml = '';
                    if (data.length > 0) {
                        console.log(data);
                        productsHtml = data.map(product => `
       
                        <div  class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women ">
                           <div class="block2">
                                    <div class="block2-pic hov-img0">
                                            <img src="/admin/multer/img/${product.image[0]}" height="250">
                                           
                                                <a href="productDetails?id=${product._id}"
                                                    class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                                    Quick View
                                                </a>
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="block2-txt-child1 flex-col-l ">
                                            <a href="productDetails?id=${product._id}"
                                                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                ${product.name}
                                            </a>

                                            <span class="stext-105 cl3">
                                                $ ${product.price}
                                            </span>
                                        </div>

                                        <div class="block2-txt-child2 flex-r p-t-3">
                                            <a href="/addtowishlist?id=${product._id}"
                                                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                                <img class="icon-heart1 dis-block trans-04"
                                                    src="images/icons/icon-heart-01.png" alt="ICON">
                                                <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                                    src="images/icons/icon-heart-02.png" alt="ICON">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

        `).join('');
                    } else {
                        productsHtml = '<p>No items found </p>';
                    }

                    $('#products-container').html(productsHtml);
                });
            }
        </script>
        <%- include ('../layouts/user/footer.ejs') %>